    <!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li class="sub-menu">
                    <a class="active" href="@Url.Action("Index","Home")">
                        <i class="fa fa-dashboard"></i>
                        <span>Quản Trị Viên</span>
                    </a>

                </li>
                <li class="sub-menu">
                    <a href="@Url.Action("Index","Category")">
                        <i class="fa fa-th"></i>
                        <span>Danh Mục Sản Phẩm</span>
                    </a>

                </li>
                <li class="sub-menu">
                    <a href="@Url.Action("Index","Product")">
                        <i class="fa fa-tasks"></i>
                        <span>Sản Phẩm</span>
                    </a>

                </li>

                <li class="sub-menu">
                    <a href="@Url.Action("Index","User")">
                        <i class="fa fa-user"></i>
                        <span>Người Dùng</span>
                    </a>

                </li>
               

            </ul>
        </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
